h1 {
	
	padding: 45px;
	margin: 4px;
	text-align: center;

}



h2 {
	background-color: red;
	width: 104px;
	height: 52px;
	clear: right;
	border: 5px black;
	text-align: center;

}



h3 {
	background-color: yellow;
	width: 104px;
	height: 52px;
	clear: right;
	border: 5px black;
	text-align: center;
}


h4 {
	background-color: pink;
	width: 104px;
	height: 52px;
	clear: right;
	border: 5px black;
	text-align: center;
}



div {
	background-color: gray;
	width: 380px;
	height: 355px;
	padding: 5px;
	margin: 6px;
	border-style: solid;
	position: absolute;
	
	
}

* {
	box-sizing: border-box;
}

article {
	background-color: gray;
	width: 380px;
	height: 355px;
	padding: 5px;
    margin: 3px;
    position: absolute;
    top: 150px;
    right: 180px;
    border-style: solid;

}


aside {
   background-color: gray;
	width: 380px;
	height: 355px;
	padding: 5px;
    margin: 3px;
    position: absolute;
    top: 150px;
    right: 290px;
    border-style: solid;
    left: 410px;

}
