
body {
	background-color: white;
}





/**HEADER**/

#header-nav {
	border-radius: 0;
	border: 0;

}


.navbar-header { /*narbar title */
	padding-top: 25px;
	color: green;
	text-align: center;


}


.navbar-brand h1 { /* Restaurant name */
	font-family: 'Lora', serif;
	color: green;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	
}


.Menu { /* Our Menu */
	color: black;
	margin: 0 9 10px;
	text-align: center;
	border-style: solid;
	border: 3px;
	

}


.col-lg-12 { /* Dummy Text */
	border-style: solid;
	margin: 12px;
	color: black;
	padding: 13px;


}



.h2 {
	font-size: 21px;
	color: black;
	border-style: black;
	background-color: yellow;
}





.dropdown {
    position: relative;
    display: inline-block;
}





