body {
	background-color: Gray;
}





/**HEADER**/

#header-nav {
	border-radius: 0;
	border: 0;

}


.navbar-brand {
	padding-top: 25px;
	color: green;
	text-align: center;


}


.navbar-brand h1 { /* Restaurant name */
	font-family: 'Lora', serif;
	color: green;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	
}


.text-center { /* Our Menu */
	color: black;
	margin: 0 9 10px;
	text-align: center;
	border-style: solid;
	border: 3px;

}


.div.Chicken {
	color: black;
	border-style: solid;
	margin: 5px;
	padding: 9px;
}







.dropdown {
    position: relative;
    display: inline-block;
}



