div.one-third {
	width: 960px;
	margin:0px auto;
}

div.one-third-second {
	width:700px;
	float: left;
	
	
}

div.one-third-last {
	float: left;
	width: 260px;
	padding: 20px 0 0 0;
}

@media screen and (max-width: 500%) {

  .one-third {
  	width: 100%;
  }

  .one-third-second {
  	width: 70%;
  }

  .one-third-last {
  	width: 30%;
  }

}


