div.one-third {
	width: 47.5%;
	margin:0px auto;
}

div.one-third-second {
	width:700px;
	float: left;
	background: blue;
	
}

div.one-third-last {
	float: left;
	width: 260px;
	padding: 20px 0 0 0;
}

@media screen and (max-width: 500%) {

  div.mobile-collapse {
  	width:  auto;
  	float: none;
  	margin-right: 0;
  }

}


